@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url("../media/styles/keyboard.css");
@import url("../media/styles/scroll.css");

body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 100vh;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    overflow-y: hidden;
}

html {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.hidden {
    display: none !important;
}

#welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#welcome > h1 {
    animation: Entrance 800ms ease 0s 1 normal forwards;
}

h1 {
    opacity: 1;
    will-change: opacity, transform;
    transform: none;
    font-weight: 700;

    font-size: 2.25rem;
    line-height: 2.5rem;
    margin: 0;
    margin-bottom: 1.5rem;
    color: #f8fafc;
    text-align: center;
}

#welcome-desc {
    color: #9ca3af;
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-bottom: 2rem;
    opacity: 0;
    animation: Entrance 800ms ease .8s 1 normal forwards;
}

#welcome > .button {
    opacity: 0;
    animation: Entrance 800ms ease 1.4s 1 normal forwards;
}

.table {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    background: #252526d1;
    border-radius: 1rem;
    padding: 0 .9rem;
    border: 1px solid #27272a;
    overflow-y: auto;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0.5rem 0rem;
    border-bottom: 1px solid #3f3f46;
}
.row:last-child {
    border-bottom: none;
}

.desc {
    color: #c5c8ce;
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
    text-align: center;
    margin-bottom: 1.5rem;
}

p {
    margin: 0;
}

.link {
    text-decoration: underline;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: .6rem;
}

.button {
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, -webkit-text-decoration-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    padding: .5rem 2rem;
    border-radius: .5rem;
    white-space: nowrap;
    gap: 0.5rem;
    height: 2.75rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    flex-grow: 1;
}

.qrcode-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.qrcode {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.qrcode>span {
    white-space: pre;
    font-family: monospace;
    letter-spacing: -0.5px;
}


.code {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: .2rem;
    margin-bottom: .5rem;
}

.digit {
    background: #2c2c33;
    padding: .2rem .25rem;
    border-radius: .2rem;
}

.button>svg {
    margin-left: 0.5rem;
}

.button>* {
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.25rem;
    color: #0F172A;
}

.primary {
    background-color: hsl(221.2 83.2% 53.3%);
    color: hsl(210 40% 98%);
}

.secondary {
    background-color: hsl(0, 0%, 23%);
    color: hsl(0, 0%, 75%) !important;
}

.secondary>p {
    color: hsl(0, 0%, 75%) !important;
}

.muted {
    background-color: #27272a;
    color: #a1a1aa;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    border-radius: .5rem;
    background-color: #18181B;
    border: 1px solid #27272a;
    width: 28rem;
    transition: all 200ms ease 0s;
    max-height: 80vh;
    opacity: 1;
    /* animation: Entrance 800ms ease 0s 1 normal forwards; */
}

.modal.hidden {
    opacity: 0;
}


.modal > * {
    opacity: 0;
    animation: Entrance 800ms ease 1s 1 normal forwards;
}

.modal > h1 {
    opacity: 0;
    animation: Entrance 800ms ease .4s 1 normal forwards;
}

label {
    margin-bottom: 10px;
}

input {
    font-size: 0.875rem;
    line-height: 1.25rem;

    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    padding-left: 0.75rem;
    padding-right: 0.75rem;
    background-color: #27272a;
    border: 1px solid #3f3f46;
    border-radius: calc(.5rem - 2px);
    height: 2.5rem;
    margin-bottom: 30px;
    color: #ffffff;
    outline: none;
}

@keyframes Entrance {
	0% {
		opacity: 0;
		transform: translateY(50px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes Entrance2 {
	0% {
		opacity: 0;
		transform: translateY(50px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}