#settings-app {
    /* background: linear-gradient(0deg, #0f1317 0%, #121317 100%); */
    background: #17181c;
    display: flex;
    flex-direction: row;
}

#settings-left-bar {
    display: flex;
    flex-direction: column;
    border-right: 1px solid var(--border-color);
    padding: 1rem;
    background-color: #191a1e;
}

#settings-title {
    font-size: 1.5rem;
    border-bottom: 1px solid var(--border-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 1rem;
    padding-left: .45rem;
    margin-bottom: 1rem;
}

#settings-title>span:first-child {
    margin-right: 1rem;
}

.settings-left-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    border-radius: 10px;

}

.settings-left-item.selected {
    background-color: #434b57;
}

.settings-left-item>span:first-child {
    margin-right: 1rem;
    font-variation-settings: 'FILL'0;
}

#settings-main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 2rem;
    overflow: auto;
    margin-bottom: 70px;
}

#settings-type {
    font-weight: 700;
    font-size: 1.875rem;
    line-height: 2.25rem;
    margin-bottom: 1.5rem;
}

#settings-save {
    padding: .5rem;
    background: #1814a7;
    display: flex;
    border-radius: 8px;
    font-size: 1.2rem;
    flex-direction: row;
    align-items: center;
}

#settings-save>span:first-child {
    margin-right: .5rem;
}

.settings-card {
    padding: 1.5rem;
    background-color: #191a1e;
    border-radius: .5em;
    border: 1px solid var(--border-color);
    margin-bottom: 2rem;
    display: none;
    flex-direction: column;
}

.settings-card.active {
    display: flex;
}

.settings-selector {
    padding: .5rem;
    background-color: var(--border-color);
    border-radius: .4em;
    margin-bottom: 2rem;
    display: none;
    align-items: center;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}
.settings-selector.active {
    display: grid;
}
.settings-selector > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding: 7.5px 1rem;
    border-radius: 0.5em;
    color: #b0a49e;
}
.settings-selector > div.active {
    background: #17181c;
    color: #ffffff;
}

.settings-title {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1;
    letter-spacing: -0.025em;
}

.settings-desc {
    margin-top: 7.5px;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #9da3af;
}

.settings-nav {
    display: flex;
    flex-direction: row;
    border: 1px solid var(--border-color);
    border-radius: .5em;
    padding: 1rem;
    margin-top: 30px;
    height: 5rem;
    align-items: stretch;
}

.settings-nav-upsidedown {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.settings-nav-upsidedown>div>span {
    font-variation-settings:
        'FILL'0,
        'wght'600,
        'GRAD'200,
        'opsz'40
}

.settings-nav-icon-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
}

.settings-nav-icon {
    border-radius: 50%;
    box-shadow: 0px 0px 0px 2px #1814a7;
    height: 54px;
    width: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.settings-nav-icon>img {
    height: 38px;

}

.settings-nav-main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.settings-nav-name {
    font-size: 1.3rem;
    font-weight: 500;
}

.settings-nav-color {
    padding: 0.25rem;
}

.settings-nav-delete {
    margin-left: auto !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.settings-nav-delete>span {
    padding: .5rem;
    margin: .5rem;
    background: #e11d25;
    border-radius: 5px;
}

.settings-nav-delete.disabled>span {
    background: #303030;
    color: #6a6a6a;
}

.settings-nav-add {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1814a7;
    margin-top: 2rem;
    padding: .5rem;
    border-radius: 5px;
}

.settings-nav-add>span:first-child {
    margin-right: .5rem;
}

.settings-subtitle {
    margin-top: 30px;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.75rem;
}
.settings-label {
    margin-top: 30px;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1;
}

.settings-map-colorrow {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.settings-map-style {
    display: flex;
    flex-direction: column;
}

.settings-map-stylerow {
    display: flex;
    flex-direction: row;
    margin-top: .5rem;

}

.settings-map-stylerow>input {
    width: 1rem;
    height: 1rem;
    margin-right: 1rem;
}

.settings-map-row {
    /* display: flex;
    flex-direction: row;
    justify-content: space-around; */
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));    
    gap: 1.5rem;
}

.settings-map-row-element {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.settings-map-row-element > *:first-child {
    margin-bottom: 1rem;
}
.settings-cams-selector {
    max-width: 10rem !important;
}

.settings-cams-preview {
    background-color: #2f2e2e80;
    background-image: url('./camera.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 2rem;
    border-radius: 1rem;
    max-height: 150px !important;
    height: 150px !important;
    margin-left: auto;
    margin-right: auto;
}

.settings-transparent-card {
    margin-top: 30px;
    padding: 1rem;
    border-radius: .8rem;
    background: #84909b14;
}
.settings-transparent-card > *:first-child {
    margin-top: 0;
}

.settings-subtitle + .settings-map-single-control {
    margin-top: 1rem;
}

.orange, .orange > span {
    color: #ff8f00;
}
#settings-modal-screen {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100vh - 70px);
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;
    backdrop-filter: blur(5px);
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}
#settings-modal-screen.hidden {
    display: none;
    background-color: #00000000;
    backdrop-filter: blur(0px);
}
.settings-modal {
    display: none;
    flex-direction: column;
    max-height: 80% !important;
    background: #17181c;
    border-radius: 15px;
    border: 1px solid var(--border-color);
    padding: 1.5rem;
}
.settings-modal.active {
    display: flex;
    animation: SlideIn .3s ease 0s 1 normal forwards;
}
@keyframes SlideIn {
	0% {
		opacity: 0;
		transform: translateY(250px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
.settings-modal-title {
    letter-spacing: -0.025em;
    line-height: 1;
    font-weight: 600;
    font-size: 1.125rem;
}
.settings-modal-desc {
    margin-top: 7.5px;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #9da3af;
    margin-bottom: 1rem;
}
.settings-modal-versions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.settings-modal-version:last-child {
    text-align: right;
}
.settings-modal-version {
    display: flex;
    flex-direction: column;
}
.settings-modal-version > *:first-child {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.25rem;
}
.settings-modal-version > *:last-child {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;
}
.settings-modal-version:last-child > *:last-child {
    color: hsl(220 10% 50%);
}
.settings-modal-separator {
    height: 1px;
    background: var(--border-color);
    margin-top: 20px;
    margin-bottom: 20px;
}
.settings-modal-subtitle {
    margin-bottom: 0.5rem;
}
.settings-modal-changelog {
    flex-grow: 1;
    overflow-y: auto;
    background: #84909b14;
    border-radius: 5px;
    padding: 0.75rem;
    margin-bottom: 20px;
}
.settings-modal-changelog > h1 {
    font-size: 1.5rem;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin: 0;
}
.settings-modal-changelog > ul {
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding-left: 1.25rem;
    margin-top: 0.25rem;
}
.settings-modal-action {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 0.5rem;
}
.settings-modal-button {
    padding: 0.7rem;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid var(--border-color);
    flex: 1 1 0%;
    justify-content: center;
}
.settings-modal-button > .material-symbols-outlined {
    margin-right: 0.5rem;
}
.settings-modal-button.primary {
    background: #1814a7;
}

.settings-map-single-control {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
    justify-content: flex-start;
}

.settings-map-single-control-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.settings-map-single-control-text>span:first-child {
    font-weight: 500;
    font-size: 0.875rem;
}

.settings-map-single-control-text>span:last-child {
    font-size: 0.875rem;
    color: #9da3af;
    margin-top: 7.5px;
}

.settings-map-single-control-value {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
}
.settings-map-single-control-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: .5rem;
}

.settings-map-single-control-value>span:first-child {
    margin-right: .5rem;
}

.settings-event-sound-play {
    padding: .2rem;
    background: #17181c;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    display: flex;
    margin-right: 0.5rem;
}

.settings-slider {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.settings-slider > input {
    flex: 1 1 0%;
    margin-left: 0;

}
.settings-slider > label {
    width: 6rem;
    display: flex;
    justify-content: flex-end;    
    font-weight: 500;
}

.settings-input {
    background: #17181c;
    margin-top: 7px;
    width: auto;
    border: 1px solid var(--border-color);
    color: #ffffff;
}
.button {
    padding: .6rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #17181c;
    border: 1px solid var(--border-color);
    border-radius: 0.1875rem;
}
.button.bigger {
    padding: .8rem;
}
.button.bigger >span.material-symbols-outlined {
    margin-right: .8rem;
}
.button>span.material-symbols-outlined {
    margin-right: .5rem;
}

select {
    position: relative;
    color: white;
    width: 100%;
    background-color: #17181c;
    border: var(--border-color) solid 1px;
    border-radius: 0.1875rem;
    padding: 0.25rem 1.75rem 0.25rem 0.75rem;
    font-size: .9375rem;
    line-height: 2;
    appearance: none;
    background-image: url('./arrow.png');
    background-repeat: no-repeat;
    background-position: right .5em top 50%;
    background-size: 1rem auto;
}

select::-ms-expand {
    display: none;
  }


.settings-separator {
    height: 1px;
    background: var(--border-color);
    margin-top: 30px;
}

.justify-end {
    display: flex;
    justify-content: flex-end;
}

input[type="range"] {
    padding: 0;
}

input[type="color"] {
    background: #17181c !important;
    width: 3rem;
    height: 1.75rem;
    padding: .2rem;
}

.notfill {
    font-variation-settings: 'FILL'0;
}

::-webkit-color-swatch-wrapper {
    padding: 0;
}

::-webkit-color-swatch {
    border: 0;
    border-radius: 0;
}

::-moz-color-swatch,
::-moz-focus-inner {
    border: 0;
}

::-moz-focus-inner {
    padding: 0;
}