#main-music {
    background: #191a1e;
    position: absolute;
    top: 3rem;
    right: 0.6rem;
    border-radius: 16px;
    padding: 1rem;
    padding-bottom: 0;
    min-width: 200px;
}
#main-music-minimize {
    position: absolute;
    top: 0.4rem;
    right: 0.65rem;
}
#main-music-minimize > span {
    font-size: .9rem;
}
#main-music-data {
    display: flex;
}
#main-music-image {
    height: 3rem;
    border-radius: 10px;
}
#main-music-text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: .5rem;
}
#main-music-title {
    margin: 0;
    font-weight: 600;
}
#main-music-artist {
    margin: 0;
    font-size: .7rem;

}
#data-music-control {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: .5rem;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
}