.menu-bar {
    height: 70px;
    background-color: rgb(0, 0, 0);
    display: flex;
    padding-left: 1rem;
    align-items: center;
    mask: radial-gradient(circle 135px at top, transparent 30%, black 31%);
    position: relative;
}

.menu-icon {
    height: calc(100% - 1rem);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    aspect-ratio: 1;
    margin-right: 1.5rem;
}
#menu-home {
    margin-right: 1.2rem !important;
}
#menu-music {
    box-shadow: 0px 0px 0px 2px #0c67cf;
}
#menu-ytb {
    box-shadow: 0px 0px 0px 2px #ff0000;
}
#menu-phone {
    box-shadow: 0px 0px 0px 2px #08c98f;
}
#menu-separator {
    height: calc(100% - 1rem);
    width: 2px;
    border-radius: 5px;
    background-color: #a1a1a1;
    margin-right: 1.2rem;
}
#menu-voice {
    position: absolute;
    left: 50%;
    bottom: 0px;
    transform: translate(-50%, 50%);
    /* background-color: rgb(7 126 229); */
    background: linear-gradient(49deg, #14d289 13%, #0f57ff 48%, #ea0b59 99%);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    mask: radial-gradient(circle 80px at center, transparent 30%, black 31%);
    z-index: 2;
}
/* #menu-voice > span {
    font-size: 2.5rem;
}
#menu-voice.active {
    box-shadow: 0px 0px 11px 1px #62f367 inset;
} */
.menu-icon > img {
    height: calc(100% - 1rem);

}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
